<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <p th:text="${name1}"></p>
  <p th:text="${phone}"></p> -->

  <P>Name is <span th:text="${name1}"><b></b>sfbbggb</span></P>
  <P>Phone is <span th:text="${phone}"></span></P>
</body>
</html>


<!-- <body>
    <p th:text="${Name}"></p>
    <p th:text="${callPossible}"></p>

</body> -->
<!-- <script>
   const NamePhone = location.search;

</script> -->
<!-- </html> -->

<!-- 
$,@,*

th:text , th:each , th:object,
-->